*{
    padding: 0;
    margin: 0;
     list-style: none;
    text-decoration: none;
    outline: none;
}
.zong{
    width: 100%;
    height: auto;
    margin:0 auto;
    background: red
}

/*.content{*/
/*    width: ;*/
/*    height: auto;*/
/*    margin:0 auto;*/
/*    background: red;*/
/*}*/
[class*=col]{
    float: left;
    border: 1px solid black;
}
.zong ::after {
    content: "";
    display: block;
    clear: both;
}


@media screen and (min-width: 1200px) {
    .zong{
        width:1170px;
        background: yellow;

    }
    .col-lg-1{
        width: 8.3333333%;
    }
    .col-lg-2{
        width: 16.666666%;
    }
    .col-lg-3{
        width: 25%;
    }
    .col-lg-4{
        width: 33.333333%;
    }
    .col-lg-5{
        width: 41.666666%;
    }
}
@media screen and (min-width: 992px) and (max-width:1199px) {
    .zong{
        width:970px;
        background: greenyellow;

    }
    .col-md-1{
        width: 8.3333333%;
    }
    .col-md-2{
        width: 16.666666%;
    }
    .col-md-3{
        width: 25%;
    }
    .col-md-4{
        width: 33.333333%;
    }
    .col-md-5{
        width: 41.666666%;
    }
}
@media screen and (min-width: 768px) and (max-width:991px) {
    .zong{
        width:970px;
        background:red;

    }
    .col-lg-1{
        width: 8.3333333%;
    }
    .col-sm-2{
        width: 16.666666%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width: 33.333333%;
    }
    .col-sm-5{
        width: 41.666666%;
    }
}
@media screen and  (max-width:767px) {
    .zong{
        width:970px;
        background:black;

    }
    .col-xs-1{
        width: 8.3333333%;
    }
    .col-xs-2{
        width: 16.666666%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width: 33.333333%;
    }
    .col-xs-5{
        width: 41.666666%;
    }
}